.Ivdlist{
    width: 90%;
    margin: 2em auto;
}
.Ivdlist ul{
    width:25em;
    height:30em;
    list-style: none;
    background: #1a1a1a;
    padding: 0 1em;
    text-align: right;
    box-shadow:0 2px 30px 1px #252525;
    border-radius: 1em;
    overflow-y: auto;
}
.Ivdlist ul li{
    color: #bdbdbd;
    padding: 1.5em 0;
    border-bottom: 1px solid #252525;
    cursor: pointer;
}
.Ivdlist ul li:hover{
    color: #f1f1f1;
}

@media only screen and (max-width:986px){
    .Ivdlist ul{
        width: 100%;
        box-shadow: none;
    }
    .Ivdlist ul{
        border-radius: 0
    }
}